/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #485c42 #303030;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #303030;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #485c42;
    border-radius: 0px;
    border: 0px solid #000000;
  }