@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
	width: 100%;
	height: 100%;
}
body {
	background-image: url('https://raw.githubusercontent.com/sarahvsm/sarahvsm.github.io/main/marita-kavelashvili-ugnrXk1129g-unsplash%20(1).jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.titlename {
	font-family: 'Bebas Neue', cursive;
	font-size: 100px;
}